html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden; /* Evita rolagem */
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  background: url('../app/assets/foto-paisagem-montanha.jpg') no-repeat center center fixed;
  background-size: cover;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; /* Garante que o main ocupe toda a altura da viewport */
  overflow: hidden; /* Evita rolagem no main */
}
